.landing-page{
    width: 100%;
    height: 100%;
    overflow:hidden ;
    background-image:linear-gradient(to right, rgb(236, 206, 35), rgb(221, 182, 10));
}


.main_animation{
    width: 400px;
    height: 400px;
    border-radius: 20px;
    position: absolute;
    top: 130px;
    left: 100px;
    position: relative;
}

.main_svg{
    width: 400px;
}

@media only screen and (max-width: 800px) {
   
  }


@media only screen and (max-width: 800px) {
   
  }